@import "tailwindcss";

:root {
    --primary-marrom: #463220;
    --primary-neutral: #66593c;
    --primary-white: #ffff;
    --second-white: #eceadd;
}
@layer base {
    body {
        @apply bg-neutral-100;
    }
    .marrom {
        @apply text-[var(--primary-marrom)];
    }
    .bg-marrom-claro {
        @apply bg-[var(--second-white)];
    }
}
.shadow-branco {
    box-shadow: 0 0 10px #ffff;
}
.shadow-marrom {
    box-shadow: 0 0 10px #cccc;
}
.shadow-marrom:hover {
    box-shadow: 0 0 10px var(--primary-marrom);
}